extends layout
block content
    - let isAdmin = admin || false;
    - let name = isAdmin ? admin.name : composer.name;
    p= `You're logged in, ${name}` + `${isAdmin ? " (Admin)" : ""}`
    a(href='/logout') Log out

    - if (isAdmin)
        p Sync composer and admin data from Airtable. Will force you to login again.
        form(method="POST" action=`/airtable` id="airtableSync")
            button(id="refreshAirtable" type="submit") Refresh Airtable
