extends layout
block content  
  body(class='css-selector') 
    button(id='begin') load audio
    button(id='test-play') play audio element
    div(id='message')

    script(nonce=nonce src="./javascript/ios_test.js")