doctype html
html(lang='en')
  head    
    meta(charset='utf-8')    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Flame Keepers | Metropolis Ensemble 
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
    //- link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap')
    link(rel='stylesheet' href='/stylesheets/style.css')        
    

    script(nonce=nonce).
      var __adobewebfontsappname__='dreamweaver'         
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.685.0.min.js')
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=470173043180481&autoLogAppEvents=1" nonce="2XSwQvBn")
    
  block content
    
  footer
      hr
      p.footerDisclaimer
        | &copy; 2020 Metropolis Ensemble - 
        span All Rights Reserved
      p.footerNote
        | Contact Us - 
        span #[a.customLink(target='_blank' href='mailto:info@metropolisensemble.org') Email] / #[a.customLink(target='_blank' href='https://www.instagram.com/metroensemble/?hl=en') Social]
          