@charset "utf-8";
/* Global Styles */


:root {
	/* Original Gradient */
	/* --gradient-speed: 259s;
    --gradient-def: linear-gradient(234deg, #195646, #203558, #45541e, #3b165a, #5f3d1b, #691636, #175867, #564f15, #1a4352, #1c4a5c, #5c411c, #5c1c54, #193b63);
	--background-size: 1600% 100000%; */

	/* Gradient as of 10/14/2020 */
	--gradient-speed: 250s;
    --gradient-def: linear-gradient(45deg, #FFF4E3, #DDDDDD, #FFFFFF);
	--background-size: 1000% 1000%;

	--font-color: 106, 106, 106;
	--font-text: rgba(var(--font-color), 0.9);
  }

/* .css-selector {
    background: var(--gradient-def);
    background-size: var(--background-size);

    -webkit-animation: AnimationName var(--gradient-speed) ease infinite;
    -moz-animation: AnimationName var(--gradient-speed) ease infinite;
    -o-animation: AnimationName var(--gradient-speed) ease infinite;
    animation: AnimationName var(--gradient-speed) ease infinite;
} */

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}

.css-selector {
    background: #FFFFFF;
    /* animation: colorchange var(--gradient-speed) ease infinite; */
}

.static-background {
    background: #191819;
    margin-bottom: 0;
    width: 100%;
}

.animated-background {
    animation: colorchange var(--gradient-speed) ease infinite;
}

@keyframes colorchange {
    0%   {background: #FFF4E3; }
    33%  {background: #DDDDDD; }
    66%  {background: #FFFFFF; }
    100%   {background: #FFF4E3; }
}



html {
	width: 100%;
}

body {
	margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    height: 100%;
    margin-top: 0px;
}
/* Header */
.backLink {
	text-align: right;
}
header {
	display: block;
}
header .navigationBar {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
header .linksContainer {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .linksContainer li {
    padding: 0 10px;
}
header .linksContainer li a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #242424;
    font-weight: 600;
}
header .linksContainer li a:hover {
	color: #A6A6A6;
	cursor: pointer;
}
header .navigationBar .logoPlaceholder {
	text-align: center;
	padding-left: 10px;
}
header .logoPlaceholder img {
	max-width: 350px;
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}
header .profileHeader{
	padding: 20px;
}
header .profilePhoto {
	width: 100px;
	min-width: 300px;
	position: relative;
}
header .profilePhoto img {
	height: 100%;
	max-width: 300px;
	width: 100%;
	position: relative;
	object-fit: cover;
}
header .profilePhoto::after {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0.19931722689075626) 0%, rgba(0,115,87,0.5074404761904762) 6%, rgba(0,115,87,1) 100%);
}
header .profileHeader a {
	color: #FFFFFF;
}
header .profileHeader h1 {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: 700;
}
header .profileHeader h3 {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 600;
}
hr {
	background-color: rgba(var(--font-color), 0.6);
	height: 2px;
	border: 0px;
}
header .profileHeader p {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.8;
	overflow-y: auto;
}
#headerContent {
	position: absolute;
	top: 40%;
	max-width: 50%;
	left: 10%;
}
#headerContent h1, h2 {
	font-family: 'Raleway';
	text-align: left;
}
#headerContent h2 {
	font-weight: 400;
}
#headerContent .custom-button {
	text-align: left;
}

header .nowPlaying {
	background: #007357;
	display: flex;
	max-height: 300px;
}
header .pageHeader {
	font-family: 'Raleway';
    padding: 20px;
}

.pageHeader h1 {
	font-size: 48px;
}

.pageHeader h3 {
    font-size: 24px;
    color: #cbcbcb;
}

main.mainLayout {
	background: #FFFFFF;
	width: 100%;
}

.mainContent .socialNetworkNavBar .sectionContent {
	float: left;
	display: inline-block;
}

.composer {
	display: flex;
    margin-bottom: 100px;
    padding: 50px;
    background: #fdfbf8;
    box-shadow: 1px 2px 5px 1px #2424242b;
}

.composer .profilePhoto {
	width: 300px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
}

.composer .profileHeader h1 {
	color: #000;
}

.composer .profileHeader p {
	color: #000;
}

.composer .profileHeader a {
	color: #FFF;
}

.composer .profileHeader a:hover {
	color: #000;
}

.composer .profileHeader p a {
	color: #000;
}

header .composer .profilePhoto img {
    height: 300px;
    width: 300px;
    width: 300px;
    position: relative;
    object-fit: cover;
    border-radius: 150px;
}

header .composer .profilePhoto::after {
	display: none;
}

#composer-bio a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 600;
}

#composer-bio a:hover {
	opacity: 0.8;
	text-decoration: none;
	cursor: pointer;
}

#composer-bio a:focus{
	outline-color: var(--font-text);
}

.sectionContent a, .customLink{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #000000;
}

.sectionContent a:hover, .customLink:hover {
	opacity: 0.8;
	text-decoration: none;
	cursor: pointer;
}

.sectionContent a:focus, .customLink:focus {
	outline-color: var(--font-text);
}

.tabContent {
	padding: 40px;
}

.tabContent p {
	font-family: 'Raleway';
	font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
}

.tabContent flame {
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 16px;
	display: block;
	margin-bottom: 16px;
}

.tabContent h3{
	font-family: 'Raleway';
	margin-bottom: 5px;
    margin-top: 25px;
}

.tabContent h4{
	margin-top: 5px;
	font-family: 'Raleway';
}
.w3-bar.w3-black {
	margin-bottom: 50px;
}

.w3-bar-item.w3-button {
	background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    min-width: 177px;
    padding: 20px 0px;
}

.w3-bar-item:hover {
	cursor: pointer;
	color: gray;
}
.mainContent .socialNetworkNavBar {
	text-align: left;
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 40px;
}
.mainContent .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
.mainContent .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
/* Main Content sections */
.mainContent .section1 {
	margin-top: 30px;
}
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Raleway', sans-serif;
	color: var(--font-text);
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.mainContent .section1 .section1Content, .mainContent .section2 .section2Content {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: var(--font-text);
}
.mainContent .section1 .section1Content span {
	color: var(--font-text);
	font-family: 'Raleway', sans-serif;
}
.section2 .sectionContentTitle, .section1 .sectionContentTitle, .socialNetworkNav .sectionContentTitle, .section1Content h2 {
	font-family: 'Raleway', sans-serif;
	color: var(--font-text);
	font-size: 1.8em;
	font-weight: 700;
}
.section2 .sectionContentSubTitle, .section1 .sectionContentSubTitle, .socialNetworkNav .sectionContentSubTitle {
	font-family: 'Raleway', sans-serif;
	color: var(--font-text);
	font-size: 1.0em;
	font-weight: 400;
}
.section2 .sectionContent, .section1 .sectionContent, .socialNetworkNav .sectionContent, .section1Content p {
	font-family: 'Raleway', sans-serif;
	color: var(--font-text);
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.8;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Raleway', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
.donateBox {
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1477233534935-f5e6fe7c1159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
}
.donateBox div{
	padding: 40px;
}
.donateBox img{
	width: 100%;
}
.donateBox h1 {
	font-family: 'Raleway';
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.donateBox h4 {
	font-family: 'Raleway';
    color: #FFF;
    font-size: 24px;
    display: inline;
    font-weight: 500;
}
.donateBox a {
	color: #FFF;
}
.donateBox a:hover {
	cursor: pointer;
}
.donateBox p {
	margin: 0;
}
footer.footerLayout {
	background: #242424;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .content p {
	margin: 0;
	color: #FFFFFF;
	font-weight: 400;
}
footer .content h3 {
	margin-top: 0;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: 600;
}
footer .footerDisclaimer {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: var(--font-text);
	font-weight: 700;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .footerDisclaimer span {
	color: var(--font-text);
	font-weight: 400;
}
footer .footerNote {
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}
footer .content {
	min-height: 150px;
	min-width: 150px;
	max-width: 300px;
}
footer input {
	display: block;
    margin-top: 20px;
    font-family: 'Raleway';
}
footer input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}
footer ul {
	display: flex;
    width: 100%;
    list-style: none;
    flex-flow: wrap;
    justify-content: start;
    align-items: flex-start;
    padding: 0;
}
footer ul li {
	padding: 5px;
}
footer ul li img {
	max-width: 35px;
	max-height: 35px;
}
footer ul li img:hover {
	opacity: 0.5;
	cursor: pointer;
}
footer .button {
    font-weight: 600;
    background: #fe312f;
  	color: #FFFFFF;
    border: 0;
    padding: 20px;
    margin-top: 15px;
}
footer .button a{
  	color: #FFFFFF;
  	text-decoration: none;
}
footer .button:hover {
	cursor: pointer;
	opacity: 0.7;
}
footer .footerContainer {
	width: 100%;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 200px) and (max-width : 600px) {
	/* Header */
	header {
		width: 100%;
		float: none;
	}
	header .navigationBar .logoPlaceholder {
		display: inline-block;
	}
	header .profileHeader {
		text-align: left;
	}
	header .navigationBar {
	    flex-direction: column;
	}
	header .navigationBar .logoPlaceholder {
	    text-align: unset;
	}
	header .logoPlaceholder img {
	    max-width: 150px;
	}
	header .linksContainer {
	    justify-content: unset;
	    align-items: unset;
	    flex-direction: column;
	    padding-left: 0;
	}
	#headerContent {
	    left: 10%;
	    top: 8%;
	}
	#headerContent h1, h2 {
	    font-family: 'Raleway';
	    text-align: left;
	    font-size: 18px;
	}
	#headerContent h2 {
	    font-weight: 400;
	    max-width: 150px;
	    font-size: 10px;
	    margin-bottom: 18px;
	}
	#headerContent .custom-button {
	    color: #242424;
	    background: none;
	    border: none;
	    padding: 0px;
	}
	header .nowPlaying {
		flex-direction: column;
		max-height: unset;
	}
	.mainContent .socialNetworkNavBar {
		text-align: left;
		display: block;
		margin-top: 60px;
		margin-bottom: 15%;
	}
	.mainContent .socialNetworkNavBar .socialNetworkNav {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin-right: 23px;
	}
	/* Main content sections */
	.mainContent .section1 {
		text-align: center;
		margin-bottom: 10%;
	}
	.section1 .section1Title, .section2 .section1Title {
		text-align: center;
	}
	.section1 .sectionTitleRule, .section2 .sectionTitleRule {
		width: 100%;
	}
	.mainContent .section1 .section1Content {
		display: inline-block;
		text-align: left;
		font-family: 'Raleway', sans-serif;
	}
	.mainContent .section2 {
		display: block;
		text-align: center;
	}
	.section2 .section2Content {
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.mainContent .externalResourcesNav {
		margin-bottom: 10%;
	}
	.mainContent .externalResourcesNav .externalResources {
		width: 100%;
		height: 35px;
	}
	/* Footer */
	footer {
		display: block;
		font-family: 'Raleway', sans-serif;
		flex-direction: column;
		align-items: flex-start;
	}
	footer.footerLayout {
		flex-direction: column;
		justify-content: flex-start;
		min-height: unset;
	}
	footer .content {
		width: 100%;
	}
	footer .footerDisclaimer {
		width: unset;
	}
	footer .footerNote {
		width: unset;
	}
	footer .footerContainer {
		flex-direction: column;
	}
	.w3-bar-item.w3-button {
    	width: 100%;
	}
	.composer {
		display: inherit;
	}
}


/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
	/* Header */
	header {
		width: 100%;
		float: none;
	}
	header .navigationBar .logoPlaceholder {
		display: inline-block;
		font-family: 'Raleway', sans-serif;
	}

	header .profileHeader {
		text-align: left;
		margin-top: 30px;
	}
	#headerContent h1, h2 {
	    font-size: 18px;
	}
	#headerContent h2 {
	    font-size: 14px;
	}
	header .nowPlaying {
		max-height: unset;
	}
	header .navigationBar {
	    flex-direction: column;
	}
	header .linksContainer {
		width: unset;
    	list-style: none;
    	display: flex;
    	justify-content: unset;
	    align-items: center;
	}
	.mainContent .socialNetworkNavBar .socialNetworkNav {
		width: 74px;
		height: 74px;
		display: inline-block;
		margin-right: 23px;
	}
	/* Main content and sections */
	.section1 .section1Title, .section2 .section1Title {
		text-align: center;
	}
	.section1 .sectionTitleRule, .section2 .sectionTitleRule {
		width: 100%;
	}
	.mainContent .section1 .section1Content {
		display: block;
		margin: 0% 0% 0% 20%;
		font-family: 'Raleway', sans-serif;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.mainContent .section2 {
		clear: both;
	}
	.section2 .section2Content {
		padding: 0px;
		margin-left: 20%;
		font-family: 'Raleway', sans-serif;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.mainContent .externalResourcesNav {
		margin-left: 20%;
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
		padding-top: 0px;
		clear: both;
	}
	.mainContent .externalResourcesNav .externalResources {
		width: 199px;
		height: 48px;
		margin-top: 5%;
	}
	/* Footer */
	footer .footerDisclaimer {
		float: left;
		font-family: 'Raleway', sans-serif;
	}
	footer .footerNote {
		float: right;
		font-family: 'Raleway', sans-serif;
	}
	.w3-bar-item.w3-button {
    	width: 100%;
	}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
	/* Header */
	header .navigationBar .logoPlaceholder {
		float: center;
	}
	header .profileHeader {
		text-align: left;
	}
	.mainContent .socialNetworkNavBar .socialNetworkNav {
		width: 74px;
		height: 74px;
		display: inline-block;
		margin-right: 23px;
	}
	/* Main content sections */
	.section1 .sectionTitleRule, .section2 .sectionTitleRule {
		width: 22.5%;
	}
	.mainContent .section1 .section1Content {
		display: block;
		margin-top: 0%;
		margin-right: 0%;
		margin-left: 26%;
		margin-bottom: 0%;
		font-family: 'Raleway', sans-serif;
	}
	.mainContent .section2 {
		clear: both;
	}
	.section2 .section2Content {
		padding: 0px;
		margin-left: 26%;
		font-family: 'Raleway', sans-serif;
	}
	.mainContent .externalResourcesNav {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
		padding-top: 0px;
		clear: both;
	}
	.mainContent .externalResourcesNav .externalResources {
		width: 199px;
		height: 48px;
	}
	/* Footer */
	footer .footerDisclaimer {
		float: left;
		font-family: 'Raleway', sans-serif;
	}
	footer .footerNote {
		float: right;
		font-family: 'Raleway', sans-serif;
	}
}

.solid {border-style: solid;}
.dotted {border-style: dotted;}

#player {
    position:relative;
    top:10px;
    width:220px;
    overflow: hidden;
    direction: ltl;
    border-top-right-radius: 0.5em 0.5em;
    border-bottom-right-radius: 1em 0.7em;
}



/* Daniel's Styles */
.mutes {
  background-color: darkgray;
  box-shadow: 0 5px 0 darkgray;
  color: white;
  padding: .25em .25em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.hide {
	display: none;
}

.hide2 {
	visibility: hidden;
}

.mutes:hover {
	cursor: pointer;

}
 .snapshot-selector {
	display:table;
	margin:0 auto;
 }

 #time_slider {
     width: 100%;
     margin-bottom: 2em;
 }

.text-style {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: var(--font-text);
}

.custom-button {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #F7F2E9;
	padding: 0.5em 0.5em;
	text-align: center;
	text-decoration: none;
	border: 2px solid rgba(var(--font-color), 0.7);
	border-radius: 0px;
	background-color: #242424;
}

.custom-button:hover {
	cursor: pointer;
	background-color: #F7F2E9;
	color: #242424;
}

.custom-button:active {
	background-color: rgba(var(--font-color), 0.2);
}

.custom-button:focus {
	outline: none;
}

.snapshot-button {
	width: 40px;
	margin: 2px;
}

#beginButton {
	font-size: 1.3em;
}

#text_slider_display {
	display: inline-block;
	width: 180px
}

.snapshot_select {
	margin-right: 0.5em;
	margin-left: 0.5em;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.5);
}

#jump_time_button, #jump_time, #replace_file_input, #vol_span, #undo_button, #replace_file_submit, #fullscreen, #jump_to_history, #text_slider_display, #playAudio {
	font-size: 1em;
}

#installation-konva {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #F8F3E9;
	padding-bottom: 10px;
}

#control_panel {
	border: medium;
	border-radius: 3px;
	border: 3px solid rgba(var(--font-color), 0.8);
	padding: 10px;
}

#time_warning {
	font-size: 24px;
}

.icon {
    height: 30px;
	filter: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(1181%) hue-rotate(174deg) brightness(91%) contrast(83%);
    margin: 5px;
}

#fullscreen:hover, #volumeIcon:hover, #muteIcon:hover {
	cursor: pointer;
    filter: brightness(0) saturate(100%) invert(69%) sepia(2%) saturate(0%) hue-rotate(337deg) brightness(91%) contrast(86%);
}

#time_slider_container {
    display: flex;
    flex-direction: row;
    align-items: bottom;
}

#control_row_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

#time_slider_accessories {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#jump_to_history {
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#vol_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: center;
}

#composer-hover {
    display: flex;
	flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 0.5em 0.5em;
    color: rgba(var(--font-color), 0.5);
    text-decoration: none;
	border: 2px solid rgba(var(--font-color), 0.3);
	border-radius: 2px;
}

 /*todo - maybe change general hide class usage of visibility/hidden in other places?*/
#composer-hover.hide {
    visibility: collapse;
}

#composer-hover-img {
    margin-right: 0.5em;
}
#composer-hover-text {
    margin-right: 0.5em;
}

#loadingProgress {
	display: block;
	position: absolute;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 0.5em 0.5em;
	color: var(--font-text);
	text-decoration: none;
	border: 2px solid rgba(var(--font-color), 0.7);
	border-radius: 2px;
	width: 60px;
}

#loadingProgress.hide {
    visibility: collapse;
}

.global_vol {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    width: 200px;
}

#history-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
from - https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*
 /* slider styles */
input[type=range] {
	-webkit-appearance: none;
	margin: 18px 10px;
	width: 100%;
	background: transparent;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	margin-top: -7px;
	border-radius: 100%;
	background: #ababab;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range]:active::-webkit-slider-thumb {
	background: #cacaca;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-moz-range-thumb {
	height: 16px;
	width: 16px;
	margin-top: -7px;
	border-radius: 100%;
	background: #ababab;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
	cursor: pointer;
}
input[type=range]:active::-moz-range-thumb {
	background: #cacaca;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-ms-fill-lower {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-ms-fill-upper {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-ms-thumb {
	height: 16px;
	width: 16px;
	margin-top: -7px;
	border-radius: 100%;
	background: #ababab;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
	cursor: pointer;
}
input[type=range]:active::-ms-thumb {
	background: #cacaca;
}


/*installation fullscreen hacks*/
/* #installation {
    width: 100%;
    height: 100%;
} */
.isFullscreen {
    width: 100%;
    height: 100%;
}

/*composer hover*/
#composer-hover {
    position: absolute;
    z-index: 100;
}

#composer-hover-img {
    max-width: 50px;
}

.socialShares a {
	margin-right: 1em;
}

.socialShares div {
	margin-top: 1em;
}

.twitter-share-button[style] { vertical-align: text-bottom !important; }

header div#installation {
	position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}	

