@charset "utf-8";
/* Global Styles */

:root {
	/* Original Gradient */
	/* --gradient-speed: 259s;
    --gradient-def: linear-gradient(234deg, #195646, #203558, #45541e, #3b165a, #5f3d1b, #691636, #175867, #564f15, #1a4352, #1c4a5c, #5c411c, #5c1c54, #193b63);
	--background-size: 1600% 100000%; */

	/* Gradient as of 10/14/2020 */
	--gradient-speed: 250s;
    --gradient-def: linear-gradient(45deg, #FFF4E3, #DDDDDD, #FFFFFF);
	--background-size: 1000% 1000%;

	--font-color: 106, 106, 106;
	--font-text: rgba(var(--font-color), 0.9);
  }

/* .css-selector {
    background: var(--gradient-def);
    background-size: var(--background-size);

    -webkit-animation: AnimationName var(--gradient-speed) ease infinite;
    -moz-animation: AnimationName var(--gradient-speed) ease infinite;
    -o-animation: AnimationName var(--gradient-speed) ease infinite;
    animation: AnimationName var(--gradient-speed) ease infinite;
} */

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}

.css-selector {
    /* background: #FFF4E3; */
    animation: colorchange var(--gradient-speed) ease infinite;
}

.static-background {
    background: #FFF4E3;
}

.animated-background {
    animation: colorchange var(--gradient-speed) ease infinite;
}

@keyframes colorchange {
    0%   {background: #FFF4E3; }
    33%  {background: #DDDDDD; }
    66%  {background: #FFFFFF; }
    100%   {background: #FFF4E3; }
}



html {
	background-color: transparent;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
}
/* Header */
header {
	text-align: center;
	display: block;
}
header .profileLogo .logoPlaceholder {
	width: 350px;
	text-align: center;
}
header .logoPlaceholder img {
	max-width: 350px;
	filter: brightness(0) saturate(100%) invert(40%) sepia(100%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(86%);
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}
header .profilePhoto img {
	max-width: 100px;
}
header .profilePhoto {
	width: 100px;
	border-radius: 50%;
	/* height: 100px; */
	clear: both;
}
header .profileHeader a {
	color: var(--font-text);
}
header .profileHeader h1 {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1.3em;
	font-weight: 700;
	line-height: 14px;
}
header .profileHeader h3 {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1em;
	font-weight: 200;
	line-height: 1.3em;
}
hr {
	background-color: rgba(var(--font-color), 0.6);
	height: 2px;
	border: 0px;
}
header .profileHeader p {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.8;
	overflow-y: auto;
}
.mainContent .socialNetworkNavBar .sectionContent {
	float: left;
	display: inline-block;
}

.sectionContent a, #composer-bio a, .customLink{
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
}

.sectionContent a:hover, #composer-bio a:hover, .customLink:hover {
	opacity: 0.8;
	text-decoration: none;
	cursor: pointer;
}

.sectionContent a:focus, #composer-bio a:focus, .customLink:focus {
	outline-color: var(--font-text);
}

.mainContent .socialNetworkNavBar {
	text-align: left;
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 40px;
}
.mainContent .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
.mainContent .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
/* Main Content sections */
.mainContent .section1 {
	margin-top: 30px;
}
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}

.mainContent .section1 .section1Content, .mainContent .section2 .section2Content {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: var(--font-text);
}
.mainContent .section1 .section1Content span {
	color: var(--font-text);
	font-family: 'Rubik', sans-serif;
}
.section2 .sectionContentTitle, .section1 .sectionContentTitle, .socialNetworkNav .sectionContentTitle, .section1Content h2 {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1.8em;
	font-weight: 700;
}
.section2 .sectionContentSubTitle, .section1 .sectionContentSubTitle, .socialNetworkNav .sectionContentSubTitle {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1.0em;
	font-weight: 400;
}
.section2 .sectionContent, .section1 .sectionContent, .socialNetworkNav .sectionContent, .section1Content p {
	font-family: 'Rubik', sans-serif;
	color: var(--font-text);
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.8;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Rubik', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: var(--font-text);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: var(--font-text);
	font-weight: 400;
}
footer .footerNote {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: var(--font-text);
	font-weight: 700;
}
footer .footerNote span {
	color: var(--font-text);
	font-weight: 400;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
	margin-bottom: 10%;
}
header #installation {
	display: inline-block;
	height: 50px;	
	padding-top: 50px;
    margin-bottom: 50px;
}	
header .profileHeader {
	text-align: left;
	margin-top: 15%;
}
.mainContent .socialNetworkNavBar {
	text-align: left;
	display: block;
	margin-top: 60px;
	margin-bottom: 15%;
}
.mainContent .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: 'Rubik', sans-serif;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: 'Rubik', sans-serif;
}
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Rubik', sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
}
header .profileHeader {
	text-align: left;
	margin-top: 30px;
}
.mainContent .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin: 0% 0% 0% 20%;
	font-family: 'Rubik', sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: 'Rubik', sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: 'Rubik', sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: 'Rubik', sans-serif;
}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header .profileLogo .logoPlaceholder {
	float: center;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
}
.mainContent .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 22.5%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 26%;
	margin-bottom: 0%;
	font-family: 'Rubik', sans-serif;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 26%;
	font-family: 'Rubik', sans-serif;
}
.mainContent .externalResourcesNav {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: 'Rubik', sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: 'Rubik', sans-serif;
}
}

.solid {border-style: solid;}
.dotted {border-style: dotted;}

#player {
    position:relative;
    top:10px;
    width:220px;
    overflow: hidden;
    direction: ltl;
    border-top-right-radius: 0.5em 0.5em;
    border-bottom-right-radius: 1em 0.7em;
}


/* Daniel's Styles */
.mutes {
  background-color: darkgray;
  box-shadow: 0 5px 0 darkgray;
  color: white;
  padding: .25em .25em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.hide {
	display: none;
}

.hide2 {
	visibility: hidden;
}

.mutes:hover {
	cursor: pointer;

}
 .snapshot-selector {
	display:table;
	margin:0 auto;
 }

 #time_slider {
     width: 100%;
     margin-bottom: 2em;
 }

.text-style {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.5);
}

.custom-button {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	color: var(--font-text);
	padding: 0.5em 0.5em;
	text-align: center;
	text-decoration: none;
	border: 2px solid rgba(var(--font-color), 0.7);
	border-radius: 0px;
	background-color: rgba(var(--font-color), 0.0);
}

.custom-button:hover {
	cursor: pointer;
	background-color: rgba(var(--font-color), 0.1);
}

.custom-button:active {
	background-color: rgba(var(--font-color), 0.2);
}

.custom-button:focus {
	outline: none;
}

.snapshot-button {
	width: 40px;
	margin: 2px;
}

#beginButton {
	font-size: 1.3em;
}

#text_slider_display {
	display: inline-block;
	width: 180px
}

.snapshot_select {
	margin-right: 0.5em;
	margin-left: 0.5em;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.5);
}

#jump_time_button, #jump_time, #replace_file_input, #vol_span, #undo_button, #replace_file_submit, #fullscreen, #jump_to_history, #text_slider_display, #playAudio {
	font-size: 1em;
}

#installation-konva {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


#control_panel {
	background-color: rgba(255, 255, 255, 0.50);
	border: medium;
	border-radius: 3px;
	border: 8px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
}

#vol_label, #vol_val {
	font-style: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#time_warning {
	font-size: 24px;
}

.icon {
    height: 30px;
	filter: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(1181%) hue-rotate(174deg) brightness(91%) contrast(83%);
    margin: 5px;
}

#fullscreen:hover, #volumeIcon:hover, #muteIcon:hover {
	cursor: pointer;
    filter: brightness(0) saturate(100%) invert(69%) sepia(2%) saturate(0%) hue-rotate(337deg) brightness(91%) contrast(86%);
}

#time_slider_container {
    display: flex;
    flex-direction: row;
    align-items: bottom;
}

#control_row_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

#time_slider_accessories {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#jump_to_history {
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#vol_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: center;
}

#composer-hover {
    display: flex;
	flex-direction: row;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding: 0.5em 0.5em;
    color: rgba(var(--font-color), 0.5);
    text-decoration: none;
	border: 2px solid rgba(var(--font-color), 0.3);
	border-radius: 2px;
}

 /*todo - maybe change general hide class usage of visibility/hidden in other places?*/
#composer-hover.hide {
    visibility: collapse;
}

#composer-hover-img {
    margin-right: 0.5em;
}
#composer-hover-text {
    margin-right: 0.5em;
}

#loadingProgress {
	display: block;
	position: absolute;
	align-items: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	padding: 0.5em 0.5em;
	color: var(--font-text);
	text-decoration: none;
	border: 2px solid rgba(var(--font-color), 0.7);
	border-radius: 2px;
	width: 60px;
}

#loadingProgress.hide {
    visibility: collapse;
}

.global_vol {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    width: 200px;
}

#history-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*
from - https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*
 /* slider styles */
input[type=range] {
	-webkit-appearance: none;
	margin: 18px 10px;
	width: 100%;
	background: transparent;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	margin-top: -7px;
	border-radius: 100%;
	background: #ababab;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range]:active::-webkit-slider-thumb {
	background: #cacaca;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-moz-range-thumb {
	height: 16px;
	width: 16px;
	margin-top: -7px;
	border-radius: 100%;
	background: #ababab;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
	cursor: pointer;
}
input[type=range]:active::-moz-range-thumb {
	background: #cacaca;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-ms-fill-lower {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-ms-fill-upper {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ababab;
}
input[type=range]::-ms-thumb {
	height: 16px;
	width: 16px;
	margin-top: -7px;
	border-radius: 100%;
	background: #ababab;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
	cursor: pointer;
}
input[type=range]:active::-ms-thumb {
	background: #cacaca;
}


/*installation fullscreen hacks*/
/* #installation {
    width: 100%;
    height: 100%;
} */
.isFullscreen {
    width: 100%;
    height: 100%;
}

/*composer hover*/
#composer-hover {
    position: absolute;
    z-index: 100;
}

#composer-hover-img {
    max-width: 50px;
}

.socialShares iframe {
	margin-right: 8px;
}

.twitter-share-button[style] { vertical-align: text-bottom !important; }
